
body {
	background: url("../img/mocha.png");
	/*background: #28282B; */
}


/* Styling */

header {
	border: 20px solid #2E1F47;
	border-radius: 5px;
	background: url("../img/white-bg.png");
}

.logo {
	float: left;
	margin: 0 0 0 30px;
	height: 260px;
	width: 260px;
}

h1 {
  font-size: 2.5em;
  line-height: 180px;
  
  font-family: 'Merienda', cursive;
  color: #1E1C45;
}

h2, h3 {
	margin: 5px 5px 0 0;
	font-family: 'Paprika', cursive;
	color: #2E1F47;
}

h3 {
	padding-bottom: 5px;
}
 
h5 {
 	color:#2E1F47;
 	margin: 0;
	font-family: 'Alice', serif;
	padding: 8px;
	font-size: 1em;
}

p, h6 {
	color: #1E1C45;
	font-family: 'Alice', serif;	
}

article section:last-of-type {
	background: #1E1C45;
	padding: 10px;
	width: 50%;
    margin: 0 auto;
}
article section:last-of-type h5{
	color: #6B90CA;

} 

h6 {
	text-align: center;
}


/*Fonts 
font-family: 'Alegreya Sans SC', sans-serif;
*/

/*Pallettes*/

.color-1,
.color-2,
.color-3,
.color-4 {
	border: 3px solid #DEF0FF;
	float: left;
	margin: 3px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background: #6B90CA;
}
.color-2 {
	background: #1E1C45;
}
.color-3 {
	background: #2E1F47;
}
.color-4 {
	background: #334561;
}
.button-1,
.button-2 {
	height: 25px;
	width: 95px;
	margin: 9px;
	background: #6B90CA;
	text-align: center;
	font: bold 14px 'Merienda', cursive;
	box-shadow: -3px 3px 3px #1E1C45, 
	inset 1px 1px 1px #7FABF0;
	border-bottom-color: #334561;
}

.button-1 {
	border-radius: 20px 5px;
	
}
.button-2 {
	border-radius: 20px;
}

.pattern-1,
.pattern-2 {
	border: 3px solid #DEF0FF;
	float: left;
	margin: 5px;
	height: 100px;
	width: 150px;
}

.pattern-1 {
	background: url("../img/mocha.png");
}
.pattern-2 {
	background: url("../img/white-bg.png");
}

/*Link styling */
div a {
	text-decoration: none;
	color: #1E1C45;
	line-height: 25px;
}
div a:hover {
	color: #DEF0FF;

	transition: color .5s;
}

p a {
	color: #334561;
}

p a:hover,
a:active {
	font-weight: bold;
}
p a:visited {
	color: #1E1C45;
}