
body {
	background: #28282B;
}
/* Layout for Style Tile*/
/*.container {
	width: 90%;
	margin: 0 auto;
}

.heading {
	width: 50%;
	float: left;
	display: inline-block;
}

div section {
	width: 33.33%;
	float: left;

}
*/

/* Styling */
header {
	background: white;
}

h1 {
  color: #33CCCC;

  background: #14132e;
  padding-left: .3em;
  margin-right: 55%;
  text-align: center;
  font-family: 'Merienda', cursive;
  
}

h2, h3, h5, p, em {
  color:#DEE3FF;
}

h2, h3 {
	margin: 10px 0;
	font-family: 'Paprika', cursive;
	background: #146e1a;
	padding: 5px 10px;
	width: 50%;
}
 
p, h5 {
 
 font-family: 'Alice', serif;
 background: #14132e;
 padding: 8px;
}


/*Fonts 
font-family: 'Alegreya Sans SC', sans-serif;
*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3,
.button-1,
.button-2 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background: #146e1a;
}
.color-2 {
	background: #14132e;
}

.logo {
	height: 200px;
	width: 200px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}