
body {
	background: url("../img/dark_wall.png");
	/*background: #28282B; */
}

/* Layout for Style Tile*/
/*.container {
	width: 90%;
	margin: 0 auto;
}

.heading {
	width: 50%;
	float: left;
	display: inline-block;
}

div section {
	width: 33.33%;
	float: left;
}
*/

/* Styling */
.content {
	background: black;
	margin-top: 15px;

}

header {
	background: #000;
	
}

.logo {
	margin-left: 5%;
}

h1 {
  padding-left: .3em;
  font-size: 3.1em;
  line-height: 200px;
  
  font-family: 'Merienda', cursive;
  color: #33CCCC;
}

h2, h3 {
	margin: 10px 0;
	font-family: 'Paprika', cursive;
	color: #612DBF;
	padding: 5px 10px;
	width: 60%;
}
 
h5 {
 	color:#33CCCC;
 	margin-bottom: 0;
	 font-family: 'Alice', serif;
	padding: 8px;
}

p{
	color:#DEE3FF;
	font-family: 'Alice', serif;	
}

/*Fonts 
font-family: 'Alegreya Sans SC', sans-serif;
*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3,
.button-1,
.button-2 {
	border: 1px solid #000;
	float: left;
	margin: 3px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background: #146e1a;
}
.color-2 {
	background: #14132e;
}

.logo {
	height: 200px;
	width: 200px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}